.orders-page {
    width: 100%;
    height: auto;
}

.orders-page .order-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.orders-page .order-container .order-left {
    width: 821px;
    align-self: flex-start;
    margin-right: 60px;
}

.orders-page .order-container .order-left .order-main-content{
    width: 821px;
}

.orders-page .order-container .order-right {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.orders-page .order-container .order-right .card-user {
    width: 308px;
    height: 308px;
    box-shadow: 10px 10px 0px 0px #b1a8a8;
    margin-bottom: 20px;
    border: 5px solid #98b0e9;
    border-radius: 20px;
}

.orders-page .order-container .order-right .card-payment {
    width: 308px;
    height: 372px;
    box-shadow: 10px 10px 0px 0px #b1a8a8;
    border: 5px solid #98b0e9;
    border-radius: 20px;
}

/* Paused Orders */

.orders-page .order-container .order-left .order-main-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 0px 0px #b1a8a8;
    border: 5px solid #98b0e9;
    border-radius: 20px;
    margin-bottom:30px;
    padding: 10px;
}

.orders-page .order-container .order-left .order-main-box .order-box-scroll {
    display: flex;
    flex-direction: column;
}

.orders-page .order-container .order-left .order-main-box .order-box-scroll .orders-name-price {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.orders-page .order-container .order-left .order-main-box .order-box-scroll .orders-name-price .price-box {
    width: 161px;
    display: flex;
    flex-direction: row;
    margin-left: 400px;
    justify-content: space-between;
    
}

.orders-page .order-container .order-left .order-main-box .total-price-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.orders-page .order-container .order-left .order-main-box .total-price-box .box-total {
    width: 474px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}


.orders-page .order-container .order-left .order-main-box .order-box-scroll .orders-name-price .order-dish-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}


/* Proccess Orders */

.orders-page .order-container .order-left .order-main-box .total-price-box-process {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.orders-page .order-container .order-left .order-main-box .total-price-box-process .box-total {
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}

.orders-page .order-container .order-left .order-main-box .order-box-scroll .orders-name-price .price-box-process {
    width: 161px;
    display: flex;
    flex-direction: row;
    margin-left: 340px;
    justify-content: space-between;
    
}

/* Finished */

.orders-page .order-container .order-left .order-main-box .total-price-box-finished {
    width: 664px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.orders-page .order-container .order-left .order-main-box .total-price-box-finished .box-total {
    width: 474px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}