.productspage {
  width: 100%;
  height: auto;
}

/* Menu */

.productspage .menu {
  width: 100%;
  height: auto;
  margin-top: 77px;
  display: flex;
  padding-bottom: 70px;
}

.productspage .menu .title {
  width: 820px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
}

.productspage .menu .title .title-text {
  font-family: Roboto Serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(52, 52, 52);
}

.productspage .menu .title .search-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.productspage .menu .title .input {
  width: 360px;
  height: 36px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 18.5px 0px;
  padding: 10px;

  box-shadow: 0px 4px 4px 0px rgba(213, 213, 213, 0.25);
  background: rgb(255, 252, 252);
}

.productspage .menu .title .search-button {
  width: 106px;
  height: 40px;
  margin-left: 0px;
  border-radius: 18.5px;
  background: rgb(52, 52, 52);
  color: #d7b586;
  font-family: Quicksand;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.productspage .menu .filter {
  width: 250px;
  height: 37px;
  margin-top: 62px;
  margin-right: 47px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  align-self: flex-end;
}

.productspage .menu .filter .filter-buttons {
  width: 70px;
  height: 36.5px;
}

.productspage .menu .filter .filter-buttons .order {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}

.productspage .menu .product-list-section {
  width: 100%;
  height: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.productspage .menu .product-list-section .categories {
  width: 36px;
  height: 389px;
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
}

.productspage .menu .product-list-section .categories .category-button {
  width: 79px;
  height: 36px;
  transform: rotate(-90deg);
}

.productspage .menu .product-list-section .categories .category-button .order {
  width: 100%;
  height: 100%;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}


.productspage .menu .product-list-section .product-cards {
  width: 100%;
  height: auto;
  margin-left: 22px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.productspage .menu .product-list-section .product-cards .card {
  width: 235px;
  height: 361px;
  margin-right: 34px;
  border-radius: 0px 50px 0px 0px;
}

.productspage .menu .product-list-section .product-cards .card .card-picture {
  border-radius: 0px 50px 0px 0px;
}

.productspage .menu .product-list-section .product-cards .card .product-sale {
    position: absolute;
    margin-top: 10px;
    z-index: 100;
    width: 93px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff9200;
    box-shadow: 4px 6px 20px rgba(0,0,0,0.4);
    border-radius: 25px;
    font-family: Roboto Serif;
    font-size: 11px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(248, 248, 255);
}

.productspage .menu .product-list-section .product-cards .card .product-order-busket {
  visibility: hidden;
  position: absolute;
  bottom: 40px;
  z-index: 100;
  width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  background-color: #da4fba;
  border-radius: 10px;
}

.productspage .menu .product-list-section .product-cards .card :hover .product-order-busket {
  visibility:visible;
}

.productspage .menu .product-list-section .product-cards .card .product-view {
  visibility: hidden;
  position: absolute;
  bottom: 40px;
  z-index: 100;
  width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: flex-end;
  background-color: black;
  opacity: 0.9;
  border-radius: 100%;
}

.productspage .menu .product-list-section .product-cards .card :hover .product-view {
  visibility:visible;
}

.productspage .menu .product-list-section .product-cards .card .product-detail {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productspage .menu .product-list-section .product-cards .card .product-detail .product-name {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(52, 52, 52);
}

.productspage .menu .product-list-section .product-cards .card .product-detail .icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(227, 192, 141);
}

.productspage .menu .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* BRAND BOARD */

.productspage .brand-board {
  width: 100%;
  height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(13, 21, 24);
}

.productspage .brand-board .title {
  margin-top: 84px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(227, 192, 141);
}

.productspage .brand-board .brands {
  width: 1300px;
  height: 630px;
  margin-top: 58px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.productspage .brand-board .brands .image-box {
  width: 258px;
  height: 350px;
  background: rgb(13, 21, 24);
  border-radius: 20px;
  box-shadow: 2px 2px 4px 4px rgba(213, 213, 213, 0.25);
}

.productspage .brand-board .brands .image-box .image {
  width: 100%;
  height: 100%;
}


/* Address */

.address {
  width: 100%;
}

.address .address-area {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.address .address-area .title {
  margin-top: 80px;
  font-family: Roboto Serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(52, 52, 52);
}

/** ChosenProduct **/

.products-page .chosen-product {
  position: relative;
  width: 100%;
  height: auto;
  background: #f8f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .chosen-product .product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 150px;
}

.products-page .chosen-product .chosen-product-slider {
  width: 48%;
  height: 480px;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
}

.products-page .chosen-product .chosen-product-slider .swiper-area {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
  width: 100%;
  height: 1020px;
}

.products-page
  .chosen-product
  .chosen-product-slider
  .swiper-area
  .slider-image {
  width: 100%;
  height: 100%;
}

.products-page .chosen-product .chosen-product-info {
  padding: 30px 40px;
  width: 49%;
  height: 480px;
  display: flex;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.products-page .chosen-product .chosen-product-info .info-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.products-page .chosen-product .info-box .product-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.products-page .chosen-product .info-box .resto-name {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 15px;
  color: #979797;
}

.products-page .chosen-product .info-box .rating-box {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .rating-box .star-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box .product-view {
  display: flex;
  align-items: center;
}

.products-page .chosen-product .info-box .product-desc {
  height: 112px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .info-box .product-price {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .product-price span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .button-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-page .chosen-product .button-box button {
  width: 230px;
  height: 44px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #f8f8ff;
}

.products-page .chosen-product .title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-top: 75px;
}



